In [124]:
from sklearn import model_selection
from sklearn import metrics
from scipy import stats
import seaborn as sns
import pandas as pd
import category_encoders as ce
import numpy as np
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import zscore
from sklearn import svm
import matplotlib.pyplot as plt

In [125]:
#col_name=['ImgID','BodySize','WaistSize','Gender','Complexion','Occasion','DressColor','DressSize','DressDesign','DressCategory','Matching Percentage','Matching']
#Dress_df=pd.read_csv('Dataset.csv',names=col_name)

In [126]:
NNH = KNeighborsClassifier(n_neighbors= 10 , weights = 'distance' )

In [127]:
#dress_df=pd.read_csv('Dataset.csv')

In [128]:
dress_df=pd.read_csv('Dataset_m_top_final.csv')

In [129]:
dress_df.columns

Index(['ImgID', 'BodySize', 'Complexion', 'Occasion', 'DressColor',
       'DressDesign', 'Matching'],
      dtype='object')

In [130]:
dress_df.shape

(355, 7)

In [131]:
dress_df.dtypes

ImgID          object
BodySize       object
Complexion     object
Occasion       object
DressColor     object
DressDesign    object
Matching       object
dtype: object

In [132]:
dress_df['Matching'].value_counts()

Y    229
N    126
Name: Matching, dtype: int64

In [133]:
dress_df = dress_df.drop('ImgID', axis=1) 
#dress_df = dress_df.drop('Matching Percentage', axis=1)

In [134]:
dress_df.shape

(355, 6)

In [135]:
dress_df[dress_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [BodySize, Complexion, Occasion, DressColor, DressDesign, Matching]
Index: []

In [136]:
dress_df.head()

  BodySize Complexion Occasion   DressColor         DressDesign Matching
0        L  Very Fair   Casual  Black&White  Cuban Collar Shirt        Y
1       XL       Fair   Casual   Blue&White         Linen Shirt        N
2        M     Medium   Casual    LightBlue           Overshirt        N
3        M  Very Fair   Casual  Muddy Brown         Linen Shirt        Y
4        S       Fair  Wedding   White&Pink           Overshirt        Y

In [137]:
dress_df.count()

BodySize       355
Complexion     355
Occasion       355
DressColor     355
DressDesign    355
Matching       355
dtype: int64

In [138]:
dress_df.iloc[42:62]

,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
42,L,Olive,Formal,Grey&White,Linen Shirt,Y
43,M,Very Fair,Formal,Blue&MuddyBrown,Linen Shirt,N
44,XL,Medium,Formal,Black&White,Linen Shirt,N
45,M,Fair,Formal,DarkBlue&White,Linen Shirt,Y
46,XL,Brown,Casual,Black&White,Linen Shirt,Y
47,XXL,Olive,Party,Black,Flannel Shirt&Blazer,Y
48,L,Very Fair,Party,Black,Flannel Shirt&Blazer,Y
49,L,Dark Brown,Casual,Denim Blue,Flannel Shirt,Y
50,L,Fair,Casual,White&Blue,Classic Short Sleeve Shirt,N
51,L,Brown,Formal,Pink&Black,Flannel Shirt,Y
52,L,Fair,Casual,White&Grey,Flannel Shirt,Y
53,XL,Medium,Formal,Pink&Grey,Flannel Shirt,Y
54,L,Olive,Formal,Pink&Black,Flannel Shirt,N
55,XL,Fair,Formal,Blue,Flannel Shirt,N
56,XL,Brown,Formal,Red&Black,Flannel Shirt,Y
57,XL,Very Fair,Casual,Red&Grey,Kurti,Y
58,XXL,Fair,Casual,Blue&grey,Flannel Shirt,Y
59,XL,Medium,Casual,Black&White,Flannel Shirt,Y
60,XL,Very Fair,Casual,Blue&White,Flannel Shirt,Y
61,XL,Brown,Casual,Black&White,Flannel Shirt,Y

In [139]:
dress_df.describe()

       BodySize Complexion Occasion DressColor  DressDesign Matching
count       355        355      355        355          355      355
unique        6          6        8         75           27        2
top          XL       Fair   Casual      Black  Linen Shirt        Y
freq        154         94      141         45           69      229

In [140]:
dress_df.describe().transpose()

            count unique          top freq
BodySize      355      6           XL  154
Complexion    355      6         Fair   94
Occasion      355      8       Casual  141
DressColor    355     75        Black   45
DressDesign   355     27  Linen Shirt   69
Matching      355      2            Y  229

In [141]:
dress_df.groupby(["BodySize"]).count()

          Complexion  Occasion  DressColor  DressDesign  Matching
BodySize
L                 72        72          72           72        72
M                 71        71          71           71        71
S                 16        16          16           16        16
XL               154       154         154          154       154
XS                 1         1           1            1         1
XXL               41        41          41           41        41

In [142]:
#dress_df.groupby(["Gender"]).count()

In [143]:
dress_df.groupby(["DressDesign"]).count()

,BodySize,Complexion,Occasion,DressColor,Matching
DressDesign,,,,,
Blazer,7,7,7,7,7
Casual Shirts,17,17,17,17,17
Check shirt,13,13,13,13,13
Classic Short Sleeve Shirt,50,50,50,50,50
Cuban Collar Shirt,1,1,1,1,1
Flannel Shirt,59,59,59,59,59
Flannel Shirt&Blazer,2,2,2,2,2
Flannel Shirt&Half blazer,2,2,2,2,2
Full Jacket,2,2,2,2,2
Full Kurti,1,1,1,1,1
Full Polo Shirt,7,7,7,7,7
Full Shirt,2,2,2,2,2
Half Kurti,2,2,2,2,2
Half Polo Shirt,4,4,4,4,4
Half Shirt,3,3,3,3,3
Jacket,8,8,8,8,8
Kurta,4,4,4,4,4
Kurti,18,18,18,18,18
Linen Shirt,69,69,69,69,69
Overshirt,5,5,5,5,5
Oxford Button-Down Shirt,20,20,20,20,20
Polo Shirt,42,42,42,42,42
Round Neck,1,1,1,1,1
Sflannel Shirt,1,1,1,1,1
Sport jacket,9,9,9,9,9
T Shirt,4,4,4,4,4
Winter Wear,2,2,2,2,2

In [144]:
#dress_df.groupby(["DressCategory"]).count()

In [145]:
dress_df.groupby(["DressColor"]).count()

              BodySize  Complexion  Occasion  DressDesign  Matching
DressColor
Army                 2           2         2            2         2
Black               45          45        45           45        45
Black&Blue           1           1         1            1         1
Black&Golden         1           1         1            1         1
Black&Gray           1           1         1            1         1
...                ...         ...       ...          ...       ...
Yellow               6           6         6            6         6
Yellow &Blue         1           1         1            1         1
Yellow&Gray          2           2         2            2         2
Yellow&White         3           3         3            3         3
white                1           1         1            1         1

[75 rows x 5 columns]

In [146]:
dress_df.groupby(["Matching"]).count()

          BodySize  Complexion  Occasion  DressColor  DressDesign
Matching
N              126         126       126         126          126
Y              229         229       229         229          229

In [147]:
dummy_dress_df= pd.get_dummies(dress_df)
dummy_dress_df

,BodySize_L,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Brown,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,...,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_N,Matching_Y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
351,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
352,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
353,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
354,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [148]:
dummy_dress_df.shape

(355, 124)

In [149]:
dummy_transformed= pd.get_dummies(dress_df,drop_first=True)
dummy_transformed

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_Y
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
351,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
352,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
353,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
354,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [150]:
dummy_transformed.describe().transpose()

                            count      mean       std  min  25%  50%  75%  max
BodySize_M                  355.0  0.200000  0.400565  0.0  0.0  0.0  0.0  1.0
BodySize_S                  355.0  0.045070  0.207751  0.0  0.0  0.0  0.0  1.0
BodySize_XL                 355.0  0.433803  0.496298  0.0  0.0  0.0  1.0  1.0
BodySize_XS                 355.0  0.002817  0.053074  0.0  0.0  0.0  0.0  1.0
BodySize_XXL                355.0  0.115493  0.320067  0.0  0.0  0.0  0.0  1.0
...                           ...       ...       ...  ...  ...  ...  ...  ...
DressDesign_Sflannel Shirt  355.0  0.002817  0.053074  0.0  0.0  0.0  0.0  1.0
DressDesign_Sport jacket    355.0  0.025352  0.157414  0.0  0.0  0.0  0.0  1.0
DressDesign_T Shirt         355.0  0.011268  0.105698  0.0  0.0  0.0  0.0  1.0
DressDesign_Winter Wear     355.0  0.005634  0.074953  0.0  0.0  0.0  0.0  1.0
Matching_Y                  355.0  0.645070  0.479167  0.0  0.0  1.0  1.0  1.0

[118 rows x 8 columns]

In [151]:
dummy_transformed.shape

(355, 118)

In [152]:
dummy_transformed_df= dummy_transformed.drop(labels='Matching_Y',axis=1)
dummy_transformed_df

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Kurti,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
351,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
352,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
353,0,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
354,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [153]:
X = np.array(dummy_transformed_df)
y = np.array(dummy_transformed['Matching_Y'])

In [154]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], dtype=uint8)

In [155]:
y

array([1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1], dtype=uint8)

In [156]:
dummy_transformed.shape

(355, 118)

In [157]:
dummy_transformed

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_Y
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
351,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
352,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
353,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
354,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [158]:
array = dummy_transformed.values
X = array[:,0:117]
Y = array[:,117]

In [159]:
Y

array([1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1], dtype=uint8)

In [160]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 101)

In [161]:
X_train.shape

(284, 117)

In [162]:
X_test.shape

(71, 117)

In [163]:
y_train.shape

(284,)

In [164]:
y_test.shape

(71,)

In [165]:
print(type(X_train))
print(type(X_test))
print(type(y_train))
print(type(y_test))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [166]:
#Logistic Regression method
model = LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)
print(model_score)
print(metrics.confusion_matrix(y_test, y_predict))

0.6901408450704225
[[ 6 19]
 [ 3 43]]

In [167]:
#KNN metod
dress_df_z = dummy_transformed.apply(zscore)  # convert all attributes to Z scale 

dress_df_z.describe()

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_Y
count,355.000000,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,...,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02
mean,0.000000,-4.220411e-16,-4.065605e-16,1.932335e-16,1.413580e-16,2.464382e-16,7.787198e-17,-3.096115e-17,-4.159427e-17,-5.254013e-17,...,-2.336159e-16,-4.053878e-16,-5.414292e-16,-2.964765e-16,1.569167e-16,1.619596e-16,-1.462054e-16,-7.451004e-17,-1.635624e-16,8.131211e-18
std,1.001411,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,...,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00
min,-0.500000,-2.172502e-01,-8.753109e-01,-5.314940e-02,-3.613492e-01,-2.632054e-01,-6.001277e-01,-4.464575e-01,-4.189232e-01,-4.734321e-01,...,-4.911810e-01,-1.195229e-01,-2.443389e-01,-3.663131e-01,-5.314940e-02,-5.314940e-02,-1.612810e-01,-1.067521e-01,-7.527099e-02,-1.348132e+00
25%,-0.500000,-2.172502e-01,-8.753109e-01,-5.314940e-02,-3.613492e-01,-2.632054e-01,-6.001277e-01,-4.464575e-01,-4.189232e-01,-4.734321e-01,...,-4.911810e-01,-1.195229e-01,-2.443389e-01,-3.663131e-01,-5.314940e-02,-5.314940e-02,-1.612810e-01,-1.067521e-01,-7.527099e-02,-1.348132e+00
50%,-0.500000,-2.172502e-01,-8.753109e-01,-5.314940e-02,-3.613492e-01,-2.632054e-01,-6.001277e-01,-4.464575e-01,-4.189232e-01,-4.734321e-01,...,-4.911810e-01,-1.195229e-01,-2.443389e-01,-3.663131e-01,-5.314940e-02,-5.314940e-02,-1.612810e-01,-1.067521e-01,-7.527099e-02,7.417670e-01
75%,-0.500000,-2.172502e-01,1.142451e+00,-5.314940e-02,-3.613492e-01,-2.632054e-01,1.666312e+00,-4.464575e-01,-4.189232e-01,-4.734321e-01,...,-4.911810e-01,-1.195229e-01,-2.443389e-01,-3.663131e-01,-5.314940e-02,-5.314940e-02,-1.612810e-01,-1.067521e-01,-7.527099e-02,7.417670e-01
max,2.000000,4.602988e+00,1.142451e+00,1.881489e+01,2.767406e+00,3.799313e+00,1.666312e+00,2.239855e+00,2.387072e+00,2.112235e+00,...,2.035910e+00,8.366600e+00,4.092676e+00,2.729905e+00,1.881489e+01,1.881489e+01,6.200358e+00,9.367497e+00,1.328533e+01,7.417670e-01

In [168]:
dress_labels=dummy_transformed['Matching_Y']

In [169]:
X = np.array(dress_df_z)
X.shape

(355, 118)

In [170]:
y = np.array(dress_labels)
y.shape

(355,)

In [171]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=19)

In [172]:
NNH.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10, weights='distance')

In [173]:
predicted_labels = NNH.predict(X_test)
NNH.score(X_test, y_test)

0.7663551401869159

In [174]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test, predicted_labels))
print(metrics.classification_report(y_test, predicted_labels))

[[16 20]
 [ 5 66]]
              precision    recall  f1-score   support

           0       0.76      0.44      0.56        36
           1       0.77      0.93      0.84        71

    accuracy                           0.77       107
   macro avg       0.76      0.69      0.70       107
weighted avg       0.77      0.77      0.75       107

In [175]:
#SVM method
clf = svm.SVC()

In [176]:
X,y = np.array(dummy_transformed_df)[ :, 0:117], np.array(dress_labels)

In [177]:
print(X.shape)
print(y.shape)

(355, 117)
(355,)

In [178]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [179]:
clf.fit(X_train , y_train)

SVC()

In [180]:
clf.score(X_test, y_test)

0.6822429906542056

In [181]:
y_pred = clf.predict(X_test)
pd.crosstab(y_test, y_pred)

col_0  0   1
row_0
0      3  30
1      4  70